{extend name="basic" /}
{block name="title"}后台中心{/block}
{block name="content"}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <h3>欢迎您：{$Think.session.user->username}</h3>
                </div>
                <div class="content">
                    <p>后台中心</p>
                    <div class="button">
                        <a href="{:url('Login/logout')}" class="btn btn-danger btn-lg active">退出登录</a>
                        <a href="{:url('Admin/changepwd')}" class="btn btn-success btn-lg active">修改密码</a>
                        <a href="{:url('Message/index')}" class="btn btn-success btn-lg active">留言板</a>
                        <a href="{:url('News/index')}" class="btn btn-success btn-lg active">新闻</a>
                        <a href="{:url('Chatbot/index')}" class="btn btn-success btn-lg active">聊天机器人</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}