{extend name="basic"}
{block name="title"}修改密码{/block}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center"><h1>修改密码</h1></div>
        </div>
        <form class="form-horizontal" action="{:url('Admin/SaveChangepwd')}" method="post" role="form">
            <div class="form-group">
                <label class="control-label col-md-4">原始密码：</label>
                <div class="col-md-4">
                    <input type="password" name="oldPassword" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">新密码：</label>
                <div class="col-md-4">
                    <input type="password" name="newPassword[]" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">确认密码：</label>
                <div class="col-md-4">
                    <input type="password" name="newPassword[]" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <input type="submit" value="提交" class="btn btn-lg btn-primary btn-block">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <a href="{:url('Admin/admin')}" class="btn btn-lg btn-success btn-block">返回上一页</a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}