*{
    margin: 0;
    padding: 0;
}
/*导航*/
.nav {
    background: #000000;
    height: 60px;
    margin: 0 auto;
}
.nav ul {
    list-style: none;
}
.nav .first {
    float: left;
}
.nav .first img{
    width: 120px;
    height: 60px;
}
.menu {
    float: left;
    line-height: 60px;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: white;
    display: block;
    width: 85px;
    height: 60px;
    font-size: 15px;
}
.menu a:hover {
    background: #0f0f0f;
    color: green;
}
/*二级菜单*/
.menu-child {
    display: none;
    position: absolute;
    z-index: 1000;
}
.menu-child li {
    float: none;
    background: #e0e0e0;
    line-height: 40px;
}
.menu-child a {
    color: black;
    height: 40px;
}
.menu-child a:hover{
    background: grey;
    color: white;
}

/*显示用户，退出*/
.nav .last{
    float: right;
    line-height: 60px;
    margin-right: 20px;
    text-align: center;
}
#login_name{
    font-size: 15px;
    color: white;
    display: inline;
}
#logout {
    display: inline;
    margin-left: 20px;
}
#logout a{
    color: white;
    text-decoration: none;
}
/*导航*/
