<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}小石头{/block}</title>
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <script src="__PUBLIC__/static/js/jquery-3.1.1.min.js"></script>
    <!--加载layui框架-->
    <link href="__PUBLIC__/static/layui/css/layui.css" rel="stylesheet" media="all">
    <script src="__PUBLIC__/static/layui/layui.js"></script>
    <!--加载公共-->
    <link rel="stylesheet" href="__PUBLIC__/static/css/common.css">
    {block name="css"}{/block}
    {block name="js"}{/block}
</head>
<body>
{block name="nav"}
    <div class="nav">
        <ul>
            <li class="first"><a href="{:url('User/index')}"><img src="__PUBLIC__/static/images/logo.jpg"></a></li>
            <li class="menu"><a href="{:url('User/index')}">用户管理</a></li>
            <li class="menu"><a href="{:url('AdminStudents/index')}">学生信息</a></li>
            <li class="menu"><a href="{:url('Chatbot/index')}">聊天机器人</a></li>
            <li class="menu"><a href="{:url('News/index')}">实时新闻</a></li>
            <li class="menu"><a href="{:url('Message/index')}">留言板</a></li>
            <li class="menu">
                <a href="javascript: ;">系统设置</a>
                <ul class="menu-child">
                    <li><a href="{:url('Admin/changepwd')}">修改密码</a></li>
                    <li><a href="{:url('Upload/index')}">文件上传</a></li>
                    <li><a href="{:url('Admin/admin')}">后台中心</a></li>
                </ul>
            </li>
            <li class="last">
                <div id="login_name">
                    <span><i class="glyphicon glyphicon-user"></i>&nbsp;{$Think.session.user->username}</span>
                </div>
                <div id="logout">
                    <a href="{:url('Login/logout')}"><i class="glyphicon glyphicon-off"></i>&nbsp;退出</a>
                </div>
            </li>
        </ul>
    </div>
{/block}
{block name="content"}{/block}
<script>
    $(function(){
        $(".menu").mouseover(function(){
            $(this).children("ul").show();
        });

        $(".menu").mouseout(function(){
            $(this).children("ul").hide();
        });
    });
</script>
</body>
</html>