{extend name="basic" /}
{block name="title"}用户管理{/block}
{block name="content"}
<div class="container">
    <div class="text-right">
        <a href="{:url('Admin/admin')}" class="layui-btn layui-btn-small layui-btn-radius">返回主页</a>
    </div>
    <hr>
    <div id="selectUserForm">
        <form class="layui-form" onsubmit="return false;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="select_username" class="layui-input">
                </div>
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="select_name" class="layui-input">
                </div>
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="select_phone" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="submit" value="查询" class="layui-btn layui-btn-radius" onclick="return selectUser();">
                    <input type="reset" value="重置" class="layui-btn layui-btn-radius layui-btn-primary">
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div id="g-table">
        <div id="top_table">
            <div class="layui-form-item">
                <div style="display: inline">
                    <span style="font-weight: bold">记录数:</span>
                    <a style="color: green">{$numbers}</a>
                </div>
                <div style="display: inline">
                    <input type="button" class="layui-btn layui-btn-normal layui-btn-primary layui-btn-radius" onclick="return addUserBox();" value="新增用户">
                    <input type="button" class="layui-btn layui-btn-normal layui-btn-primary layui-btn-radius" onclick="return exportUser();" value="Excel导出">
                </div>
            </div>
        </div>


        <table class="layui-table">
            <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>电话</th>
                <th>地址</th>
                <th>操作</th>
            </tr>
            {foreach $users as $user}
            <tr userid="{$user['id']}">
                <td name="username">{$user['username']}</td>
                <td name="name">{$user['name']}</td>
                <td name="phone">{$user['phone']}</td>
                <td name="address">{$user['address']}</td>
                <td>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-mini" value="{$user['id']}" onclick="editUserBox(this.value)">修改</button>
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-danger layui-btn-mini" value="{$user['id']}" onclick="deleteUserBox(this.value)">删除</button>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>

</div>

<!--新增弹框-->
<div id="addUserForm" style="display: none">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" class="layui-input" id="add_username">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password" class="layui-input" id="add_password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" id="add_name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" class="layui-input" id="add_phone">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <input type="reset" id="add_reset">
        </div>
    </form>
</div>

<!--修改弹框-->
<div id="editUserForm" style="display: none">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" class="layui-input" id="edit_username" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" id="edit_name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-inline">
                <input type="text" name="address" class="layui-input" id="edit_address">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" class="layui-input" id="edit_phone">
            </div>
        </div>
    </form>
</div>
<script>
    layui.use('form',function () {
        layui.form();
    });

    // 消息提示框
    function showMessage(msg) {
        layui.use('layer',function () {
            var layer=layui.layer;
            layer.open({
                type:0,
                content:msg,
                time:1000
            });
        })
    }

    // 新增弹框
    function addUserBox() {
        // 重置表单
        $('#add_reset').trigger('click');
        // 弹框
        layui.use('layer',function () {
           var layer=layui.layer;
            var index=layer.open({
               type:1,
                title:['新增用户','text-align:center'],
                btn:['保存','取消'],
                btnAlign:'c',
                content:$('#addUserForm'),
                yes:function () {
                    $.post('{:url("User/add")}',{
                        username:$('#add_username').val(),
                        password:$('#add_password').val(),
                        name:$('#add_name').val(),
                        phone:$('#add_phone').val(),
                        type:'add'
                    },function (data) {
                        layer.close(index);
                        showMessage(data['message']);
                    })
                }

            });
        });
    }

    // 修改弹框
    function editUserBox(id) {
        // 给修改表单赋值
        var userTr = $('tr[userid="'+id+'"]');
        $('#edit_name').val(userTr.find('td[name="name"]').html());
        $('#edit_username').val(userTr.find('td[name="username"]').html());
        $('#edit_address').val(userTr.find('td[name="address"]').html());
        $('#edit_phone').val(userTr.find('td[name="phone"]').html());
        // 弹框
        layui.use('layer',function () {
            var layer = layui.layer;
            var index = layer.open({
               type:1,
                title:['修改','text-align:center'],
                btn:['保存','取消'],
                btnAlign:'c',
                content:$('#editUserForm'),
                yes:function () {
                    $.post('{:url("User/edit")}',{
                        type:'edit',
                        id:id,
                        name:$('#edit_name').val(),
                        address:$('#edit_address').val(),
                        phone:$('#edit_phone').val()
                    },function (data) {
                        layer.close(index);
                        showMessage(data['message']);
                    });
                }
            });
        })
    }

    // 删除弹框
    function deleteUserBox(id) {
        layui.use('layer',function () {
            var layer = layui.layer;
            var index = layer.open({
                title:false,
                closeBtn:0,
                btn:['确定','取消'],
                btnAlign:'c',
                content:'确定要删除吗？',
                yes:function () {
                    $.post('{:url("User/delete")}',{
                        type:'delete',
                        id:id
                    },function (data) {
                        layer.close(index);
                        showMessage(data['message']);
                    })
                }
            });
        })
    }

    // 提交查询条件
    function selectUser() {
        var forms = $('#selectUserForm form');
        $.post('{:url("User/search")}',{
            'select_username':forms.find('input[name="select_username"]').val(),
            'select_name':forms.find('input[name="select_name"]').val(),
            'select_phone':forms.find('input[name="select_phone"]').val()
        },function (data) {
            $('#g-table').html(data);
        });
    }

    // excel表导出
    function exportUser() {
        var forms = $('#selectUserForm form');

        var form=$("<form>");
        form.attr("style","display:none");
        form.attr("method","post");
        form.attr("action",'{:url("User/exportExcel")}');
        var input_username=$("<input>");
        input_username.attr("type","hidden");
        input_username.attr("name","select_username");
        input_username.attr("value",forms.find('input[name="select_username"]').val());
        var input_name=$("<input>");
        input_name.attr("type","hidden");
        input_name.attr("name","select_name");
        input_name.attr("value",forms.find('input[name="select_name"]').val());
        var input_phone=$("<input>");
        input_phone.attr("type","hidden");
        input_phone.attr("name","select_phone");
        input_phone.attr("value",forms.find('input[name="select_phone"]').val());
        $("body").append(form);//将表单放置在web中
        form.append(input_username);
        form.append(input_name);
        form.append(input_phone);
        form.submit();//表单提交

    }


</script>
{/block}