{extend name="basic" /}
{block name="title"}学生信息系统{/block}
{block name="js"}
    <script src="__PUBLIC__/static/admin_students/index.js"></script>
{/block}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="{:url('Admin/admin')}" class="btn btn-success btn-sm">返回主页</a>
            </div>
            <form action="{:url('AdminStudents/delete')}" method="post" onsubmit="return delLists();" id="myform">
                <hr>
                <div class="text-right">
                    <button class="layui-btn layui-btn-radius" type="button" onclick="return addStudents();">新增</button>
                    <input type="submit" value="全部删除" class="btn btn-danger">
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                    <tr class="info">
                        <th><input type="checkbox" id="selectAll" onclick="return selectAllCheckbox();"></th>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>电话</th>
                        <th>是否删除</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    {foreach $adminStudents as $adminStudent}
                        <tr>
                            <td><input class="boxs" type="checkbox" name="check[]" value="{$adminStudent->id}"></td>
                            <td>{$adminStudent->id}</td>
                            <td>{$adminStudent->name}</td>
                            <td>{$adminStudent->sex}</td>
                            <td>{$adminStudent->age}</td>
                            <td>{$adminStudent->phone}</td>
                            <td>{$adminStudent->del}</td>
                            <td>{$adminStudent->create_time}</td>
                            <td>{$adminStudent->update_time}</td>
                            <td>
                                <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                                <a href="{:url('AdminStudents/delete?id='.$adminStudent->id)}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                            </td>
                        </tr>
                    {/foreach}
                </table>
                {$adminStudents->render()}
            </form>
        </div>
    </div>
</div>
<!--弹框程序--添加信息-->
<div id="addForm" style="display: none">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label" for="add_name">姓名：</label>
            <div class="layui-input-inline">
                <input id="add_name" name="name" type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline">
                <input type="radio" name="add_sex" value="0"  title="男" checked>
                <input type="radio" name="add_sex" value="1"  title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="add_age">年龄：</label>
            <div class="layui-input-inline">
                <input type="text" name="age" class="layui-input" id="add_age">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="add_phone">电话：</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" class="layui-input" id="add_phone">
            </div>
        </div>
        <div class="layui-form-item">
            <input type="reset" id="add_rest" hidden="hidden">
        </div>
    </form>
</div>
<!--script脚本-->
<script language="JavaScript">
    // 初始化form组件
    layui.use('form',function () {
        var form = layui.form();
    })

    // 新增弹框
    function addStudents() {
        // 重置表单
        $('#add_rest').trigger('click');
        // 弹框
        layui.use('layer',function () {
           var layer=layui.layer;
           var index = layer.open({
               title:['新增','text-align:center'],
                type:1,//页面
                btn:['保存','取消'],
                btnAlign:'c',
                content:$('#addForm'),
                yes:function () {
                    $.post('{:url("AdminStudents/save")}',{
                        'name':$('#add_name').val(),
                        'sex':$('input[name="add_sex"]:checked').val(),
                        'age':$('#add_age').val(),
                        'phone':$('#add_phone').val()
                    },function (data) {
                        layer.close(index);//关闭弹框
                        showMessage(data['message']);//返回新增结果
                    });
                }
            });
        });
    }

    // 消息弹框
    function showMessage(msg) {
        layui.use('layer',function () {
            var layer=layui.layer;
            layer.open({
               type:0,
                content:msg,
                time:1000
            });
        })
    }

</script>
{/block}