{extend name="basic" /}
{block name="title"}学生信息系统{/block}
{block name="js"}
    <script src="__PUBLIC__/static/admin_students/index.js"></script>
{/block}
{block name="content"}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a href="{:url('Admin/admin')}" class="btn btn-success btn-sm">返回主页</a>
            </div>
            <form action="{:url('AdminStudents/delete')}" method="post" onsubmit="return delLists();" id="myform">
                <hr>
                <div class="text-right">
                    <button class="layui-btn layui-btn-radius" type="button" onclick="return addStudents();">新增</button>
                    <input type="submit" value="全部删除" class="btn btn-danger">
                </div>
                <hr>
                <table class="table table-bordered table-hover">
                    <tr class="info">
                        <th><input type="checkbox" id="selectAll" onclick="return selectAllCheckbox();"></th>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>电话</th>
                        <th>是否删除</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    {foreach $adminStudents as $adminStudent}
                        <tr id="{$adminStudent->id}">
                            <td><input class="boxs" type="checkbox" name="check[]" value="{$adminStudent->id}"></td>
                            <td>{$adminStudent->id}</td>
                            <td class="name">{$adminStudent->name}</td>
                            <td class="sex">{$adminStudent->sex}</td>
                            <td class="age">{$adminStudent->age}</td>
                            <td class="phone">{$adminStudent->phone}</td>
                            <td>{$adminStudent->del}</td>
                            <td>{$adminStudent->create_time}</td>
                            <td>{$adminStudent->update_time}</td>
                            <td>
                                <!--<a href="#" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>-->
                                <button onclick="clikBtn(this.value)" class="layui-btn layui-btn-radius layui-btn-primary" type="button" value="{$adminStudent->id}">编辑</button>
                                <a href="{:url('AdminStudents/delete?id='.$adminStudent->id)}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                            </td>
                        </tr>
                    {/foreach}
                </table>
                {$adminStudents->render()}
            </form>
        </div>
    </div>
</div>
<!--弹框程序--添加信息-->
<div id="addForm" style="display: none">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label" for="add_name">姓名：</label>
            <div class="layui-input-inline">
                <input id="add_name" name="name" type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline">
                <input type="radio" name="add_sex" value="0"  title="男" checked>
                <input type="radio" name="add_sex" value="1"  title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="add_age">年龄：</label>
            <div class="layui-input-inline">
                <input type="text" name="age" class="layui-input" id="add_age">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="add_phone">电话：</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" class="layui-input" id="add_phone">
            </div>
        </div>
        <div class="layui-form-item">
            <input type="reset" id="add_rest" hidden="hidden">
        </div>
    </form>
</div>
<!--修改弹框-->
<div id="editForm" style="display: none;">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label" for="edit_name">姓名：</label>
            <div class="layui-input-inline">
                <input id="edit_name" name="name" type="text" class="layui-input" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline sexClass">
                <input type="radio" name="edit_sex" value="0"  title="男" checked>
                <input type="radio" name="edit_sex" value="1"  title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="edit_age">年龄：</label>
            <div class="layui-input-inline">
                <input type="text" name="age" class="layui-input" id="edit_age">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="edit_phone">电话：</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" class="layui-input" id="edit_phone">
            </div>
        </div>
    </form>
</div>
<!--script脚本-->
<script language="JavaScript">
    // 初始化form组件
    layui.use('form',function () {
        var form = layui.form();
    })

    // 新增弹框
    function addStudents() {
        // 重置表单
        $('#add_rest').trigger('click');
        // 弹框
        layui.use('layer',function () {
           var layer=layui.layer;
           var index = layer.open({
               title:['新增','text-align:center'],
                type:1,//页面
                btn:['保存','取消'],
                btnAlign:'c',
                content:$('#addForm'),
                yes:function () {
                    $.post('{:url("AdminStudents/save")}',{
                        'name':$('#add_name').val(),
                        'sex':$('input[name="add_sex"]:checked').val(),
                        'age':$('#add_age').val(),
                        'phone':$('#add_phone').val(),
                        'type':'add'
                    },function (data) {
                        layer.close(index);//关闭弹框
                        showMessage(data['message']);//返回新增结果
                    });
                }
            });
        });
    }

    // 消息弹框
    function showMessage(msg) {
        layui.use('layer',function () {
            var layer=layui.layer;
            layer.open({
               type:0,
                content:msg,
                time:1000
            });
        })
    }
    
    // 判断是哪一个编辑按钮被点击了
    function clikBtn(id) {
        // 将修改的数据赋值到表单中
        var studentid = id;
        var stuObj =  $('#' + studentid);
        $("#edit_name").val(stuObj.find('td.name').html());
        $("#edit_age").val(stuObj.find('td.age').html());
        $("#edit_phone").val(stuObj.find('td.phone').html());
        if (stuObj.find('td.sex').html() === '女'){
            $('div.sexClass input[value="1"]').attr('checked',true);
        }

        // 修改弹框
        layui.use(['form','layer'],function () {
           var layer = layui.layer,form = layui.form();
            // 更新form表单渲染
            form.render();
            var index = layer.open({
               type:1,
                title:['修改','text-align:center'],
                content:$('#editForm'),
                btn:['修改','取消'],
                btnAlign:'c',
                yes:function () {
                    $.post("{:url('AdminStudents/save')}",{
                        type:'edit',
                        id:studentid,
                        name:$('#edit_name').val(),
                        phone:$('#edit_phone').val(),
                        age:$('#edit_age').val(),
                        sex:$('input[name="edit_sex"]:checked').val()
                    },function (data) {
                        layer.close(index);
                        showMessage(data['message']);
                    })
                }
            });
        });
    }

</script>
{/block}